.DS_Store
.idea
.idea/*
*.pyc
*.pyo
dist
*.egg
*.egg-info
_mailinglist
.tox
__pycache__
config.py
static/docs/_build/doctrees/*
static/docs/_build/html/.nojekyll
static/docs/_build/html/objects.inv
static/docs/_build/html/.buildinfo
static/docs/_build_html/*
static/docs/_static/*
static/docs/_templates/*
static/docs/Makefile