<span class="input-group-addon">
     <button title="Exact" class="exact btn btn-default btn-xs alt "  href="#"><i class="fa fa-text-width"></i></button>
     <button title="Begins with" class="begins btn btn-default btn-xs alt"  href="#"><i class="fa fa-angle-right"></i></button>
     <button title="Contains" class="contains btn btn-default btn-xs alt active"  href="#"><i class="fa fa-arrows-h"></i></button>
     <button title="Ends with" class="ends btn btn-default btn-xs alt"  href="#"><i class="fa fa-angle-left"></i></button>
     <span class="separator">|</span>
     <button title="Regex" class="regex alt btn btn-default btn-xs"  href="#"><i class="fa fa-terminal"></i></button>
</span>