{% extends "layouts/base.html" %}

{% block title %}Log in{% endblock %}
    
{% block body %}

<div id="wrapper">
    <div class="container">
        <div style="text-align:center;">
            <div class="col-sm-4 col-centered col-fixed">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        Logged in to Perseids. Just a moment...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{{super()}}

<script>

setTimeout("window.close();", 1000);

</script>

{% endblock %}

